<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AttentionAI</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <div class="brand-div">
            <div class="logo-div">
                <img src="images/logo.png" alt="logo" id="logo">
            </div>
            <p id="logo-title">AttentionAI</p>
        </div>
        <div class="user-div">
            <div class="profile-pic-div">
                <img src="images/user-profile-pic.png" alt="user-icon" class="user-icon">
            </div>
            
        </div>
    </nav>
    
</body>
</html>