<%- include('partials/header.ejs') %>
<div class="container">
    <!-- <header>
        <h1>AttentionAI</h1>
        <p>Your ADHD Accountability Coach</p>
    </header> -->

    <div class="chat-container">
        <div class="toggle-div">
            <a href="/" id="selected-tab">Chat</a>
            <a href="/todo-list">Tasks</a>
        </div>
        <div class="chat-messages" id="chat-messages">

            <!-- Messages will be dynamically added here -->
            <% chatHistory.forEach(chat => { %>
                <div class="message <%= chat.sentBy %>-message">
                    <%= chat.message %>
                </div>
            <% }) %>
        </div>
        <div class="chat-input">
            <form action="/send" method="post">
                <input type="text" id="user-input" name="userInput" placeholder="Type your message...">
                <button id="send-btn" type="submit">Send</button>
            </form>
        </div>
    </div>

    <!-- <div class="goals-container">
        <h2>Today's Goals</h2>
        <ul id="goals-list">
            
        </ul>
        <div id="add-goal">
            <input type="text" id="goal-input" placeholder="Add a new goal...">
            <button id="add-goal-btn">Add Goal</button>
        </div>
    </div> -->
</div>

<script>
    const chatMessages = document.getElementById('chat-messages');
    chatMessages.scrollTop = chatMessages.scrollHeight;
</script>
