<%- include('partials/header.ejs') %>
<div class="container">

    <div class="chat-container">
        <div class="toggle-div">
            <a href="/app" id="selected-tab">Chat</a>
            <a href="/todo-list">Tasks</a>
        </div>
        <div class="chat-messages" id="chat-messages">

            <!-- Messages will be dynamically added here -->
            <% chatHistory.forEach(chat => { %>
                <div class="message <%= chat.sent_by %>-message">
                    <%= chat.message %>
                </div>
            <% }) %>
        </div>
        <div class="chat-input">
            <form action="/send" method="post" id="chat-form">
                <input type="text" id="user-input" name="userInput" placeholder="Type your message...">
                <button id="send-btn" type="submit">Send</button>
            </form>
        </div>
    </div>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/chat.js"></script>

<script>
    const chatMessages = document.getElementById('chat-messages');
    chatMessages.scrollTop = chatMessages.scrollHeight;
</script>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script>
    console.log("script is running!");
    const userId = <%= currentUserId %>;
    const socket = io();
    
    socket.emit('storeClientInfo', {userId: userId});
    
    socket.on('redirect', (data) => {
        if (data.userId == userId) {
            window.location.href = data.url;
        }
    });
</script>

